/* colours */

:root {
  --primary: #FFE9D2;
  --secondary: #FFE1C4;
  --title: #FF8816;
}

.sidenav {
  max-width: 80%;
}

nav a{
  font-size: 1.5em;
}

/*
Vertical alignment for material icons together with text
*/
.valign-wrapper {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}